<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Agendar Aulas <mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" title="Logout"><mat-icon>logout</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-grid-list cols="1" rowHeight="12:1">
    <mat-grid-tile>
        <app-form></app-form>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-class-list></app-class-list>
    </mat-grid-tile>
  </mat-grid-list>

  